@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "Neucha Regular";
  src: url("../fonts/Neucha-Regular.ttf");
}

:root {
  --white: #fff;
  --transparent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --dark-main: #42413c;
  --transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --hover-orange: #EA7600;
}

body {
  font-size: 16px;
  font-family: "Open Sans Regular", sans-serif;
  font-weight: 400;
  color: #2A2626;
  line-height: 1.6em;
  margin: 0;
}

.orange {
  color: var(--main);
}

h1, h2, h3 {
  line-height: 1.2em;
  font-weight: 400;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.pbt-100 {
  padding: 100px 0;
}

.pt-100 {
  padding-top: 100px;
}

.pt-200 {
  padding-top: 200px;
}

.pl-30 {
  padding-left: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.prl-55 {
  padding-right: 55px;
  padding-left: 55px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pt-55 {
  padding-top: 55px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-20 {
  margin-bottom: 20px;
}

.white-bg {
  background-color: var(--white);
}

.light-bg {
  background-color: var(--light);
}

.dark-bg {
  background-color: var(--dark-main);
}

.brown-bg {
  background-color: var(--brown);
}

.relative-position {
  position: relative;
}

.title {
  font-family: "Neucha Regular", cursive;
  font-weight: 400;
  margin-bottom: 185px;
  margin-top: 0;
}

.img-bg::before {
  content: "";
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.img-main {
  position: absolute;
  height: 525px;
  top: 55px;
  left: 461px;
}

.column-2 {
  column-count: 2;
  column-gap: 30px;
  padding-top: 13px;
}

.column-2 p {
  margin-top: 0;
}

.column-2 p:nth-child(1) {
  break-after: column;
}

.column-2 p:nth-child(3) {
  margin-bottom: 40px;
}

.btn-header {
  display: inline-block;
  padding: 12px 24px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--main);
  width: 148px;
  box-sizing: border-box;
  text-decoration: none;
}

.btn-header:hover {
  background-color: var(--hover-orange);
}

.text-center {
  text-align: center;
}

.title-about {
  font-family: "Neucha Regular", cursive;
  font-weight: 400;
}

.video-about {
  margin: 0 0 -170px;
}

.video {
  text-align: center;
  margin: 0 auto;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  position: relative;
  top: 200px;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.container ul {
  list-style-type: none;
}

.flex-item {
  background-color: var(--light);
  width: 350px;
  margin-bottom: 20px;
  padding: 24px;
  box-sizing: border-box;
}

.flex-item:hover {
  background-color: var(--main);
}

.no-padding {
  padding: 0;
}

.no-background {
  background: none;
}

.cards-title {
  font-size: 52px;
  margin: 0;
  color: var(--white);
  font-family: "Neucha Regular", cursive;
}

.card-item-count {
  margin-top: 0;
  font-size: 64px;
  margin-bottom: 40px;
  line-height: 1em;
  color: var(--dark-main); 
  font-family: "Neucha Regular", cursive;
}

.flex-item a {
  text-decoration: none;
}

.card-about {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: "Neucha Regular", cursive;
}

.card-main {
  color: #2A2626;
  margin: 0;
  padding: 0;
}

.no-background:hover {
  background: none;
}

.flex-item:hover .card-about,
.flex-item:hover .card-item-count,
.flex-item:hover .card-main  {
  color: var(--white);
}

.flex-container-description {
  display: flex;
  justify-content: space-between;
}

.img-description {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.page-title {
  font-size: 24px;
  font-family: "Neucha Regular", cursive;
  font-weight: 400;
  color: var(--transparent-dark);
  margin: 0;
}

.page-about {
  font-size: 60px;
  font-family: "Neucha Regular", cursive;
  font-weight: 400;
  margin: 0 0 30px;
}

.page-resume {
  font-size: 34px;
  font-family: "Neucha Regular", cursive;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0;
}

.white-text {
  color: var(--white);
}

.brown-text {
  color: var(--brown);
}

.transparent-white-text {
  color: var(--transparent-white);
}


.description-title {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding-left: 10px;
}

.footer-label {
  font-size: 18px;
  margin-top: 38px;
  margin-bottom: 9px;
}

.footer-input {
  height: 50px;
  padding: 15px;
  box-sizing: border-box;
  width: 423px;
  border: none;
}

::placeholder {
  color: #757575;
  font-size: 13.1px;
}

.footer-button {
  width: 70px;
  height: 50px;
  background-color: var(--main);
  border: none;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer-button:hover {
  background-color: var(--hover-orange);
}

.footer-button::before {
  content: "";
  background-image: url("../images/send.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  top: 13px;
  left: 23px;
}

.service-rules {
  font-size: 12px;
  margin: 0;
}

.container-info {
  margin-top: 60px;
  font-size: 14px;
  text-align: center;
}

.info-link {
  color: var(--blue);
}






