@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "Neucha Regular";
  src: url("../fonts/Neucha-Regular.ttf");
}

:root {
  --white: #fff;
  --transparent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --dark-main: #42413c;
  --transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  font-size: 16px;
  font-family: "Open Sans Regular", sans-serif;
  font-weight: 400;
  color: #2A2626;
  line-height: 1.6em;
  margin: 0;
}

.orange {
  color: var(--main);
}

h1, h2, h3 {
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.pbt-100 {
  padding: 100px 0;
}

.light-bg {
  background-color: var(--light);
}

.relative-position {
  position: relative;
}

.title {
  font-family: "Neucha Regular", cursive;
  margin-bottom: 185px;
  margin-top: 0;
}

.img-bg::before {
  content: "";
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.img-main {
  position: absolute;
  height: 525px;
  top: 55px;
  left: 461px;
}

.column-2 {
  column-count: 2;
  column-gap: 30px;
  padding-top: 13px;
}

.column-2 p {
  margin-top: 0;
}

.column-2 p:nth-child(1) {
  break-after: column;
}

.btn-header {
  padding: 12px 24px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--main);
  width: 148px;
  height: 49px;
  border: none;
}